{
    "root": true,
    "extends": "@react-native",
    "rules": {
        "no-bitwise": "off",
        "sort-imports": [
            "warn",
            {
                "ignoreCase": true,
                "ignoreDeclarationSort": true,
                "ignoreMemberSort": false
            }
        ]
    }
}
